.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

body {
  margin: 0%;
  padding: 0%;
}

.TitleSection {
  background-color: #5DB9FF;
  width: 100%; 
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  color: white;
}

.TitleSection input {
   width: 200px;
   height: 40px;
   border-radius: 10px;
   border: none;
   border: 1px solid #4ca8ee;
   font-size: 18px;
   padding-left: 10px;
}

.TitleSection button {
   width: 180px;
   height: 60px;
   margin: 60px;
   border-radius: 10px;
   font-size: 18px;
   padding-left: 10px;
   border: none;
   color: white;
   background-color: #007fe0;
}

.TitleSection button:hover {
  cursor: pointer;
}

.displaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displaySection h3, h4 {
  margin: 5;
}

.displaySection img {
  width: 200px;
}